{% extends 'index.html' %} {% block content %}
<form action="/" method="POST" enctype="multipart/form-data">
  <b class="sub_headings">Select the image</b>
  <br />
  <text class="comment"> you can select multiple images </text>
  <input
    type="file"
    accept="image/*,video/*"
    id="images"
    name="images[]"
    multiple
  />

  <b class="sub_headings">Enter the Probability to search</b>
  <br />
  <text class="comment">
    you can add multiple Probabilities by seperating them with comma <br />
    ex: {house, image, human, ...}
  </text>
  <input
    type="text"
    id="texts"
    placeholder="enter the Probabilities"
    name="texts[]"
    multiple
  />
  <button type="submit" class="submit">Search</button>
</form>

{% if outputs|length > 0 %}
<h4>END RESULTS:</h4>
<div class="results">
  <div class="inner_results">
    {% for output in outputs %}
    <p>{{output}}</p>
    {% endfor %}
  </div>
</div>
{% endif %} {% endblock %}
