<!DOCTYPE html>
<html>
  <head>
    <title>CLIP Probabilities</title>
  </head>
  <body>
    <h1>CLIP Probabilities</h1>
    {% block content %}{% endblock %}
    <script>
      let inputArray = [];

      function saveInput() {
        let inputElement = document.getElementById("input-text");
        let inputValue = inputElement.value;
        inputArray.push(inputValue);
        console.log(inputArray);
        inputElement.value = "";

        let showTextElement = document.getElementById("show-text");
        showTextElement.innerHTML = `Input Array: ${JSON.stringify(
          inputArray
        )}`;
      }
    </script>
  </body>
</html>
